.nav {
  background-color: #e9ecef;
  border-radius: 10px;
  font-size: 1.2rem;
  padding: 1.2rem;
}

.navLinks {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  text-decoration: none;
  list-style: none;
}

.navLinks a:link,
.navLinks a:visited {
  color: #868e96;
  font-size: 1.2rem;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  align-items: center;
}

.navLinks a:hover,
.navLinks a:active {
  color: #000;
}

.nav a:global(.active) {
  color: #000;
}
